# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.* 

# IDE / editor files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
